<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
      connectionString="Data Source=JEDI-EWAVE\SQLEXPRESS;Initial Catalog=Functional;User ID=sa;Password=jedi"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>