@{
    ViewBag.Title = "Home Page";
}

<a href="/Projeto/Index" class="list-group-item active" style="width:30%">
    <h4 class="list-group-item-heading">Projetos</h4>
    <p class="list-group-item-text">Verifique seus projetos cadastrados...</p>
</a>